@charset "UTF-8";
#lol{
height: auto;
max-width: 100%;
background-image:url(images3/images.png);
background-repeat: no-repeat; 
background-size:cover;
background-position:center;
}
.Three-Dee{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
line-height: 1em;
color: #2bff00;
font-weight:bold;
font-size: 25px;
text-shadow:0px 0px 0 rgb(19,231,-24),1px 1px 0 rgb(4,216,-39),2px 2px 0 rgb(-10,202,-53),3px 3px 0 rgb(-25,187,-68),4px 4px 0 rgb(-39,173,-82),5px 5px 0 rgb(-54,158,-97), 6px 6px 0 rgb(-68,144,-111),7px 7px 6px rgba(0,0,0,0.3),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}
#myCanvas{
	text-align:center;
	} 
.Three-Dee-1{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
line-height: 1em;
color: #2bff00;
font-weight:bold;
font-size: 20px;
text-shadow:0px 0px 0 rgb(19,231,-24),1px 1px 0 rgb(4,216,-39),2px 2px 0 rgb(-10,202,-53),3px 3px 0 rgb(-25,187,-68),4px 4px 0 rgb(-39,173,-82),5px 5px 0 rgb(-54,158,-97), 6px 6px 0 rgb(-68,144,-111),7px 7px 6px rgba(0,0,0,0.3),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}
#camera{
width:48px;
height: 48px;	
}